<div class="contact-imfo-box">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <i class="fa fa-volume-control-phone"></i>
        <div class="overflow-hidden">
          <h4 style="font-family:b nazanin;">تلفن</h4>
          <p class="lead">
            +98-21 22212121
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <i class="fa fa-envelope"></i>
        <div class="overflow-hidden">
          <h4>Email</h4>
          <p class="lead">
            yourmail@gmail.com
          </p>
        </div>
      </div>
      <div class="col-md-4">
        <i class="fa fa-map-marker"></i>
        <div class="overflow-hidden">
          <h4 style="font-family:b nazanin;">آدرس</h4>
          <p class="lead" style="font-family:b nazanin;">
            تهران،نیاوران
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
